.name-tagline {
  float: left;
}

h1 {
  font-family: 'Chewy', cursive;
  font-size: 100px;
  margin: 0px;
  margin-bottom: -20px;
}

h3 {
  font-family: 'Chewy', cursive;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 25px;
}

#user-input {
  float: right;
  margin-top: -100px;
  margin-right: 400px;
  display: inline-block;
}

#question {
  font-family: 'Chewy', cursive;
  font-size: 50px;
  margin: 10px;
}

#name-button {
  font-family: 'Chewy', cursive;
  font-size: 15px;
  border-radius: 5px;
  background-color: #32CD32;
  margin: 10px;
}

.search-keyword {
  font-size: 30px;
  margin: 5px;
}


#gif-box {
  margin-top: 2%;
}

.containers {
  margin-left: 12.5%;
}

img {
  height: 250px;
  width: 350px;
}

@media (max-width: 600px) {
  img {
    -webkit-transform: scale(.5);
  }
}
