<div id="name-tagline">
  <h1>GiFML</h1>
  <h3>-your life in gif form-</h3>
</div>

<div id="user-input">
  <label id="question"></label>
  <input type="search" class="search-keyword" id="search-keyword">
  <button id="name-button" type="button">GiFML</button>
</div>

<div id="gif-box">
  <div class="containers" id="container-0"></div>
  <div class="containers" id="container-1"></div>
  <div class="containers" id="container-2"></div>
</div>

<%= javascript_include_tag "application" %>
